<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 优先使用最新版本 IE 和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>React Test</title>
    <link rel="stylesheet" href="../../browser/style/mui/mui.css">
</head>
<body>
    <section id="content">1111111</section>
</body>
</html>